.section__title {
    font-size: 3.75rem;
    margin-bottom: 40px;
}

.section__subtitle {
    display: block;
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 20px;
}

.section__text {
    line-height: 1.7;
}


@media screen and (max-width: 768px) {
    .section__title {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    .section__subtitle {
        font-size: 1.25rem;
    }
}